html{
    font-size: 15px;
    font-weight: 300;
}
body{
    width: 90vw;
    margin: 0 auto;
    background: radial-gradient(#d9ff0062, #000000);
}
main{
    text-align:center;
    background: rgb(0, 0, 0);
    border: solid rgb(123, 255, 0);
    border-width: 0 8px 8px 8px;
    min-height: 80vh;
    /*max-width: 80vh;*/
    min-width: 80vh;
    border-radius: 0 0 3rem 3rem;  /*rem>px*/
    padding : 1rem;
    color:rgb(255, 251, 0);
    font-family: Comic Sans MS, Comic Sans, cursive;
}
h2{
    font-size:40px;
    margin : 5rem 0;
}
p{
    font-size: 1.8rem;
}
.button-difficulty{
    display: flex;
    flex-direction:column;
    padding: 0 8rem 0 8rem;
}
#EASY{
    font-family: Comic Sans MS, Comic Sans, cursive;
}
button{
    border: none;
    cursor: pointer;
    background: rgb(127, 185, 34);
    padding:2rem;
    border-radius: 1rem 1rem 0 0;
}
button:last-child{
    background: rgb(218, 9, 9);
    border-radius:  0 0 1rem 1rem;
}
h3{
    font-size: 2rem;
}
input{
    border: transparent;
    margin: 2rem 0;
    padding: 1rem 0;
    width: 16rem;
    text-align: center;
}
/*# for ids*/
#range{
    display : flex;
    background: rgb(8, 240, 20);
    height: 50px;
    padding : 0;
    border-radius: 1rem;
    margin: 0 0 4rem 0;
}
#rangeOutput{
    font-size: 1.6rem;
}
.stats{
    text-align: left;
}
.info{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.info span{
    font-size : 1.6rem;
}
#newGameButton{
    border-radius: 0;
}
#gameOver{
    font-size: 55px;
}
#inputBox{
    border-radius: 1rem;
}
#text-retry
{
    background-color: rgba(34, 162, 185, 0.363);
}
#button-retry{
    background-color: rgb(225, 222, 65);
    min-width:80vh;
    margin-top: -25px;
    max-height: 10vh;
    
}
#retrytxt{
    vertical-align: top;
    
}
